.formSelect {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2rem;

  .btn {
    width: 100%;
    padding: 8px 12px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 1.2rem;
    transition: background-color 0.4s;
    cursor: pointer;
    &:hover {
      background-color: rgb(230, 230, 230);
    }
  }
}

.formSelect__select {
  display: flex;
  flex-direction: column;
  text-align: center;
  select {
    padding: 8px;
    margin: 5px auto;
    width: 100%;
    font-size: 1rem;
  }
}
